main{
  background-color: blueviolet;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 20px;
  height: 100vh;
}

form{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

button{
  padding: 10px;
  width: 50%;
  background-color: palevioletred;
  border: 2px solid white;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
