main{
  background-color: blueviolet;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 10px;
  gap: 20px;
}

form{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
